Bonjour,
%br/
Voici les articles de la semaine :
%br/
- @articles.each do |article|
  - if ((Time.now - article.updated_at)/86400).to_i > 6  || (( Time.now - article.created_at)/86400).to_i > 6
    Titre: #{article.title}
    %br/
    Contenu:  #{article.body}
    %br/
    Prix: #{article.price}
    %br/
    %br/
