@font-face {
  font-family: 'Aldo';
  src: url(/assets/Aldo/Aldo_Open-7ca0413c891ba8fcf618927256d8f6cab483d8e9b49c31f46ce24f61d8e4ec1f.otf);
}
@font-face {
  font-family: 'sf_archery_blackregular';
  src: url("sf/sf_archery_black-webfont.eot");
  src: url("sf/sf_archery_black-webfont.eot?#iefix") format("embedded-opentype"), url("sf/sf_archery_black-webfont.woff2") format("woff2"), url("sf/sf_archery_black-webfont.woff") format("woff"), url("sf/sf_archery_black-webfont.ttf") format("truetype"), url("sf/sf_archery_black-webfont.svg#sf_archery_blackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 6, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 7, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 22, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 16, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 17, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 18, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 19, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 20, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
body {
  background-image: url(./fd1.jpg);
  color: #fff;
  font-family: sf_archery_blackregular,verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 30, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 25, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 27, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 29, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 31, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 33, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
main h1 {
  font-family: Aldo,sf_archery_blackregular,verdana, arial, helvetica, sans-serif;
  text-align: center;
}

/* line 32, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 35, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 38, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 41, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
main input {
  color: #008080;
}

/* line 45, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
main textarea {
  color: #008080;
}

a:hover{
  color: #008080;
}

/* line 12, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 14, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 16, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 17, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 19, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 40, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 36, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 43, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 47, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 51, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 58, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
main {
  border: #008080 solid 5px;
  margin: 0px;
  border-radius: 10px;
  display: block;
  position: relative;
  top: 100px;
  width: 50%;
  margin-left: 25%;
}

/* line 9, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 13, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 16, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 26, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 29, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 34, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 68, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 76, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: sf_archery_blackregular,verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 20, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 24, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 35, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 39, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 45, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 46, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 50, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 73, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 71, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 80, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 86, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 86, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 95, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #fff;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 27, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 32, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 44, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 49, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 56, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 58, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 63, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 87, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 86, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 96, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 103, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 104, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 114, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}

/* line 23, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 31, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 38, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 51, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 57, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 65, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 68, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 74, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 99, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 99, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 110, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 118, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 120, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 131, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}

/* line 26, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 35, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 44, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 58, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 65, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 74, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 78, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 85, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 111, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 112, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 124, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 133, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 136, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 148, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 41, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 51, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 66, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 74, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 84, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 89, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 97, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 124, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 126, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 139, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 149, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 153, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 166, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 46, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 57, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 73, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 82, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 93, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 99, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 108, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 136, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 139, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 153, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 164, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 169, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 183, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 42, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 51, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 63, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 80, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 90, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 102, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 109, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 119, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 148, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 152, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 167, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 179, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 185, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 200, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 58, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 71, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 89, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 100, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 113, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 121, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 132, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 162, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 167, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 183, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 196, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 203, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 219, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 55, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 67, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 82, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 101, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 113, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 127, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 136, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 148, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 179, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 185, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 202, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 216, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 224, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 241, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

/* line 65, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 78, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 95, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 115, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 128, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 143, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 153, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 166, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 198, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 205, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 223, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 238, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 247, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
/* line 265, /home/dadolphe/projetweb/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
